<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="RptFunc.Svc.SvcRptFunc" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeDataTransferServicesBinding" contract="RptFunc.Itf.ItfRptFunc" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
